.loading-container {
    background: linear-gradient(180deg,rgba(42, 123, 155, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(166, 166, 166, 1) 100%);
    padding: 40px;
    border-radius: 100px;
    color: black;
    outline: 2px solid rgb(0, 0, 0);
    box-sizing: border-box;
    align-self: flex-start;
    margin: 0;
    position: absolute;
    bottom: 45%;
    right: 38%;

    filter: drop-shadow(var(--dark-shadow));
    min-width: 26vw;
}
