.task {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    font-family: "Asap", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    flex-wrap: wrap;
    word-break: break-all;

    width: 80%;
    border: 5px black solid;
    border-radius: 10px;
    padding: 10px;

    background-color: rgb(217, 217, 217);

    text-align: left;
    font-size: 10px;
}

.warning {
    height: 91px;
    width: 91px;
}

.task-text {
    color: black;
    font-size: 16px;
}

.task-title {
    font-size: 20px;
    text-decoration-line: underline;
}

.task-date {
    color: red;
}
