.create {
    background-color: rgb(59, 76, 202);
    color: rgb(255, 222, 0);
}

.join {
    background-color: rgb(204, 0, 0);
    color: rgb(255, 222, 0);
    flex-basis: 40vh;
}

.choose-pokemon-menu-btn {
    background-color: rgb(175, 229, 110);
}

.pokemenu {
    width: 1000px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.poke-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 1000px;
  height: 670px;
  align-items: center;
  justify-content: center;
}

.pokemon-tile {
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: var(--light-shadow);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 8px;
    padding: 5px;
    flex-direction: column;
}

.pokemon-tile {
    font-size: 20px;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}

.pokemon-tile:hover {
    filter: brightness(80%);
}

.pokemon-tile img {
    height: 165px;
    width: 165x;
    filter: drop-shadow(var(--dark-shadow));
    bottom: 5%;
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: pixelated;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
}

.pokemon-txt-display {
    text-align: center;
}

.nothing-txt {
    font-size: 40px;
    color: rgb(199, 199, 199);
}

.missing-no {
    width: 200px;
    animation: spin 1s linear infinite;
}

.missing-no {
    width: 200px;
    animation: back-and-forth 1s ease-in-out infinite;
    filter: drop-shadow(10px 10px 10px rgba(50,50,50, 0.5));
    
}



@keyframes back-and-forth {
    0% {
        transform: rotate(-20deg) translateX(-5px)
    }
    25% {
        transform: rotate(0deg) translateX(10px);
    }
    50% {
        transform: rotate(10deg) translateX(-5px);
    }
    75% {
        transform: rotate(0deg) translateX(-10px);
    }
    100% {
        transform: rotate(-20deg) translateX(-5px);
    }
}