img {
  /*Make undraggable so it doesn't look like an image*/
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.create-team-button:hover,
.join-team-button:hover {
  filter:brightness(75%);
  cursor: pointer;
}

.pikachu {
  position: absolute;
  height: 10vh;
  left: -10vw;
  bottom: 20vh;
  right: auto;
  animation: runningPokemon 5s infinite linear;
  z-index: -1;
}

.main-box {
  color: black;
}

@keyframes runningPokemon {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(110vw);
  }
}