
.text-box {
    background-color: rgba(0, 0, 0, 50%);
    padding: 30px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    justify-content: center;
    gap: 1vh;
    max-height: 35vh;
    width: 25vw;
    min-width: 300px;
}

.input-row {
    display: flex;
    text-align: left;
    justify-content: space-between;
    padding: 2px 0;
    border-bottom: 1px solid rgb(177, 174, 174);
  }

.text-key {
    font-weight: 600;
    font-size: calc(max(2vh, 0.5vw));
    color: white;
    float: left;
}

.text-value {
    font-weight: 600;
    font-size: calc(max(2vh, 0.5vw));
    color: rgb(255, 238, 0);
    float: right;
}