.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 90vh;
}

.row-1 {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    gap: 6vw;
    width: 100vw;
    margin-left: 1vw;
}

.row-2 {
    display: flex;
    flex-direction: start;
    align-items: center;
    justify-content: center;
    gap: 50px;
    min-height: 100px;
    width: 100vw;
    margin-bottom: 8vh;
}

.team-detail {
    position: absolute;
    right: 100;
    top: 50vh; 
    z-index: 10; 
}

.pop-up {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 5vh;
}

ul {
    position: absolute;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
    list-style-type: none;
}

li img:hover {
    filter: brightness(75%);
    cursor: pointer;
}

li img:active {
    filter: brightness(60%);
}

.home-page {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 90vh;
}

.clicked {
    filter: sepia(8%) saturate(1779%) hue-rotate(60deg) brightness(97%) contrast(80%);
}

.clicked:hover {
    filter: sepia(8%) saturate(1779%) hue-rotate(60deg) brightness(75%) contrast(80%);
    cursor: pointer;
}

.clicked:active {
    filter: sepia(8%) saturate(1779%) hue-rotate(60deg) brightness(60%) contrast(80%);
}

.task-container {
    display: flex;
    gap: 10vw;
    box-shadow: var(--standard-shadow);
}

.pokemon-container {
    display: flex;
    justify-content: center;
    height: 500px;
    width: 500px;
    /* For debugging purposes */
    /* background-color: blue; */
}

.pokemon-image {
    height: 500px;
    position: fixed;
    bottom: 5%;
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: pixelated;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.4));
    transition: transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    cursor:grab
}

.pokemon-image:hover {
    transform: scale(110%);
}

.pokemon-shake {
    animation: pokemon-shake 0.6s 1 linear;
}

.home-tasks-section {
    /* width: 100%; */
    width: 30vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.placeholder-task{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: calc(max(2.5vh, 2vw));
    color: white;
    border-radius: 15px;
    background: rgba(0, 0, 0, 50%);

    min-height: 30vh;
    padding: 20px;
}

.placeholder-task-image {
    height: 80%;
    width: 80%;
}

.view-all-tasks-btn {
    width: 80%;
    background-color: rgba(0, 0, 0, 50%);
    color: white;
}

@keyframes pokemon-shake {
    0%, 100% { transform: scale(100%) translate(1px, 1px) rotate(0deg); }
    25% { transform: scale(100%) translate(-1px, -2px) rotate(-10deg); }
    50% { transform: scale(100%) translate(-3px, 0px) rotate(10deg); }
    75% { transform: scale(100%) translate(3px, 2px) rotate(-10deg); }
}

.navigation-bar {
    position: fixed;
    z-index: 500;
}

.navigation-bar li {
    padding: 5px 0;
}