.access-code-and-button {
    height: 50px;
    display: flex;
    align-items: center;
}

.input-and-label-container > label,
.input-and-label-container > h3,
.input-and-label-container > .team-name,
.input-like-div
{
    text-align: left;
    font-size: 20px;
}

.access-code-container,
.input-like-div {
    font-family: "Audiowide", system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-style: normal;
}

.input-and-label-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
}

.input-like-div {
    color: black;
    height: 65px;
    display: flex;
    background-color: rgba(217, 217, 217, 70%);
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding-left: 15px;
}

.access-code-container {
    width: 80%;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px 0 0 5px;
    height: 65px;
    justify-content: center;
    font-size: 36px;
}

.reset-access-code {
    margin-left: auto;
    min-width: 50px;
    width: 20%;
    min-height: 65px;
    height: 65px;
    border-radius: 0 5px 5px 0;
    border-left: 2px solid black;
}

.reset-access-code img {
    padding: 0;
    margin: 0;
    max-height: 100%;
}

.save-changes {
    background-color: rgb(175, 229, 110);
}

.save-changes:hover {
    background-color: rgb(145, 190, 90);
}