#root {
  /* max-width: 1280px; Removed due to needing the whole screen width in multiple different screens*/
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  --dark-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
  --standard-shadow: 10px 10px 15px rgba(0,0,0,0.2);
  --light-shadow: 10px 10px 15px rgba(0,0,0,0.1);
}

main {
  z-index: -10;

}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.multi-select {
  width: 25em;
  font-size: 20px;
  border-radius: 10px;
}

.multi-select option {
  padding: 10px;
}

.input-container {
  min-height: 70px;
}

.error {
  text-align: left;
}

/*Covers the entire page in black, used in conjunction with Popup*/
.background-mask {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 100vw;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 20;

  background-color: rgba(0, 0, 0, 50%);
}

.full-height {
  height: 100%;
  display: flex  !important;
  justify-content: center !important;
  align-items: center  !important;

}